
<div class="bs-example">
    <div id="myCarousel" class="carousel slide" data-interval="3000" data-ride="carousel">
        <!-- Carousel indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>   
       <!-- Carousel items -->
        <div class="carousel-inner">
<% cache ['store', Product.latest] do %>
  <% @products.each_with_index do |product, index| %>
    <% cache ['entry', product] do %>
            <div class=<% if index == 0 %>"active item" <% else %>"item"<%end%>>
                <%= image_tag(product.image_url) %> <h3><%= product.title %></h3>
                <%= sanitize(product.description) %> 
                <div class="price_line">
                    <span class="price"><%= number_to_currency(product.price, :unit => "£") %></span> 
                    <%= form_tag(line_items_path(product_id: product), remote: true) do %>
                    <%= select(:item, :sizze, %w[extra\ small small medium large extra\ large]) %>

                    <%= submit_tag('Add to Cart')  %>
                    <% end %>
                </div>
            </div>
        <% end %>
    <% end %>
<% end %>
        </div>
        <!-- Carousel nav -->
        <a class="carousel-control left" href="#myCarousel" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="carousel-control right" href="#myCarousel" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
    </div>
</div>
