<!DOCTYPE html>
<html>
<head>
  <title>Kingclothing</title>
   <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
   <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
  <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
<!--link href="favicon.ico" rel="shortcut icon" type="image/x-icon" /-->
<!--%= favicon_link_tag 'https://maps.gstatic.com/favicon4.ico' %-->
<%= favicon_link_tag 'king logos.png' %>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js">
  </script>
 
  <%= csrf_meta_tags %>
      <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"> 
    <!--link rel="icon" href="king logos.png"-->
</head>
<body class='<%= controller.controller_name %>'>
	<nav class="navbar navbar-default navbar-fixed-top">
	<div class="container-fluid">
		
			<div id="banner" class="navbar-header">
				<%= image_tag('king logos.png') %>
				<%= @page_title || "King Clothing" %>
			</div>


			<div id="columns" class="col-lg-12">
		
			
				<div class="navbar-header">
	
      		<div class="navbar-brand"> <%= link_to "King Clothing", store_path %></div>
    		</div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      		<ul class="nav navbar-nav">
        		<li><%= link_to "Questions", questions_path %><span class="sr-only">(current)</span></a></li>
        		<li><%= link_to "News", news_path %></li>
        		<li><%= link_to "Contact", contact_path %></li>
        		<li><%= link_to "Delivery", delivery_path %></li>
						<li><%= link_to "Returns", returns_path %></li>
      		</ul>

					<% if session[:user_id] %>
      			<ul class="nav navbar-nav navbar-right">
        			<li><%= link_to 'Orders', orders_path %></li>
        			<li><%= link_to 'Products', products_path %></li>
        			<li><%= link_to 'Users', users_path %></li>
        			<li><%= button_to 'Logout', logout_path, method: :delete , form_class: "navbar-btn", class: "navbar-btn", :html => {:class => "menu navbar-btn" } %></li>
      			</ul>
    			<% end %>
    		</div><!-- /.navbar-collapse -->
    		<a href="#" class="toggle-nav btn btn-lg btn-success" id="basket-btn"><i class="fa fa-bars"></i> <%= @cart.total_items %> £<%= @cart.total_price %></a>
</div>
		</div>
			</nav>
			

		<div class="row" id="site-wrapper">
			<div id="site-canvas">
		<div id="main" class="col-md-10">
			<%= yield %>
		</div>
		<div id="site-menu" class="shopping-cart">
			<% if @cart %>
				<%= hidden_div_if(@cart.line_items.empty?, id: 'cart') do %>
					<%= render @cart %>
				<% end %>
					
			<% end %>	
		</div>
	

		</div>
	</div>
	</div>
</body>
</html>
